<%- include header.ejs %>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/">管理首页</a></li>
        <li><span>用户列表</span></li>
    </ol>
    <h3>用户列表(用户数量: <%= count %>)</h3>

    <table class="table table-hover table-striped">

        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>是否是管理员</th>
        </tr>
        <% for(var i = 0, len = users.length; i < len; i++){%>
            <tr>
                <td><%= users[i]._id %></td>
                <td><%= users[i].username %></td>
                <td><%= users[i].password %></td>
                <td>
                    <% if(users[i].isAdmin) {%>
                        是
                    <% }else{ %>
                        否
                    <% } %>
                </td>
            </tr>
        <% } %>
    </table>
    <%- include page.ejs %>
</div>
</body>
</html>