<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>博客</title>
    <link href="/css/semantic.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/semantic.js"></script> 
    <script src="/js/header.js"></script>
    <style>
      .categories {
        display: block;
      }
      .mobile-categories{
        display: none;
      }
      span.teal {
        color: #00B5AD;
      }
      @media screen and (max-width: 767px) {
        .categories {
          display: none;
        }
        .mobile-categories {
          display: block;
        }
      }
    </style>
</head>

<body>

<%- include header.ejs %>
<div class="ui container">
  <!-- 选择分类 -->
  <div class="categories">
    <div class="ui pointing menu">
      <%for(var i = 0, len = categories.length; i < len; i++){%>
        <% if(categories[i].name === category) {%>
          <a class="item active" href="<%= categories[i].name === '全部' ? '/' : '/category/' + categories[i].name %>">
            <%= categories[i].name %>
            <div class="ui label"><%= categories[i].count %></div>
          </a>
        <% }else { %>
          <a class="item" href="<%= categories[i].name === '全部' ? '/' : '/category/' + categories[i].name %>">
            <%= categories[i].name %>
            <div class="ui label"><%= categories[i].count %></div>
          </a>
        <% } %>
      <% } %>
    </div>
  </div>

  <div class="mobile-categories">
    <div class="ui floating labeled icon dropdown button">
      <i class="filter icon"></i>
      <% if(category === '') { %>
        <span class="text" style="min-width: 60px;">全部</span>
      <% }else { %>
        <span class="text" style="min-width: 60px;"><%= category %></span>
      <% } %>
      <div class="menu" data-filtered="filtered">
        <div class="header" data-filtered="filtered">选择分类</div>
        <div class="divider" data-filtered="filtered"></div>
        <% for(var i = 0, len = categories.length; i < len; i++) { %>
          <a class="item" data-filtered="filtered" href="<%= categories[i].name === '全部' ? '/' : '/category/' + categories[i].name %>">
            <span class="description"><%= categories[i].count%></span>
            <span class="text"><%= categories[i].name %></span>
          </a>
        <% } %>
      </div>
    </div>
  </div>
  
  <div class="ui segment">
    <div class="ui divided items">
      <% for(var i = 0, len = contents.length; i< len; i++){ %>
        <div class="item">
          <div class="image">
            <img src="<%= contents[i].image %>">
          </div>
          <div class="content">
            <a class="header"><%= contents[i].title %></a>
            <div class="meta">
              <span class="cinema">作者：<%= contents[i].user.username %></span>
              <span class="cinema">阅读量：<%= contents[i].views %></span>
              <span class="cinema">创建时间：<%= contents[i].createDate.toLocaleString() %></span>
            </div>
            <div class="description">
              <p><%= contents[i].description %></p>
            </div>
            <div class="extra">
              <a class="ui right floated primary button" href="/view?contentid=<%= contents[i].id %>">查看更多 <i class="right chevron icon"></i> </a>
              <div class="ui label"><%= contents[i].category.name %></div>
            </div>
          </div>
        </div>
      <% } %> 
    </div>
    <!--提示信息-->
    <% if(contents.length === 0) { %>
      <div class="ui ignored info message text-center">暂时没有数据</div>
    <% }else if(flag){ %>
      <div class="ui ignored info message text-center">已经到底部了</div>
    <% } %>
  </div>

  <!--分页-->
  
  <div class="ui borderless menu mobile paging">
    <a class="left menu item <%= page == 1 ? 'disabled' : '' %>" href="<%= '/category' + (category === '' ? '/all' : '/' + category) +'/page/' + Math.max(Number(page + -1), 1) %>">
      <i class="arrow left icon"></i>
    </a>
    <a class="disabled item">
      <span class="teal"><%= page %></span>/<%= pages %>
    </a>
    <a class="right menu item <%= flag ? 'disabled' : '' %>" href="<%= (category === '' ? '/category/all' : '/category/' + category) +'/page/' + Math.min(Number(page + 1), pages) %>">
      <i class="arrow right icon"></i>
    </a>
  </div>
</div>

<%- include login.ejs %>
<%- include register.ejs %>
    <script>
      $('#login').on('click', function() {
        $('.ui.modal.login')
        .modal('show');
      });
      $('#register').on('click', function() {
        $('.ui.modal.register')
        .modal('show');
      });
      
      //移动端分类选择
      $('.ui.dropdown').on('click', function() {
        var $menu = $(this).find('.menu');
        $menu.toggle();
      });

      //注册
      $('.form.register').find('[type=submit]').click(function(e) {
        e.preventDefault();
        var $form = $('.form.register');
        $.ajax({
            type: 'post',
            url: '/api/user/register',
            data: {
                username: $form.find('[name="username"]').val(),
                password: $form.find('[name="password"]').val(),
                repassword: $form.find('[name="repassword"]').val()
            },
            dataType: 'json',
            success: function(result) {
                $form.find('.error').show().html(result.message);
                setTimeout(function() {
                  $form.find('.error').hide().html('');
                }, 2000);
                if (!result.code) {
                    //登录成功
                    window.location.reload();
                }
            }
        })
      })
      //登陆
      $('.form.login').find('[type=submit]').click(function(e) {
        e.preventDefault();
        var $form = $('.form.login');
        console.log($form)
        $.ajax({
            type: 'post',
            url: '/api/user/login',
            data: {
                username: $form.find('[name="username"]').val(),
                password: $form.find('[name="password"]').val()
            },
            dataType: 'json',
            success: function(result) {
                $form.find('.error').show().html(result.message);
                setTimeout(function() {
                  $form.find('.error').hide().html('');
                }, 2000);
                if (!result.code) {
                    //登录成功
                    window.location.reload();
                }
            }
        })
      })
    </script>
</body>
</html>