<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>博客</title>
    <link href="/css/semantic.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/semantic.js"></script>
    <script src="/js/header.js"></script>
    <style>
        .listBox {
            padding-bottom: 20px;
        }
        .ui.container img {
            width: 100% !important;
        }
        pre {
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>

<body>

<%- include header.ejs %>

<div class="ui container" id="container">
    <div class="listBox">
        <h1><%= content.title %></h1>
        <p class="colDefault">
            作者：<span class="colInfo"><%= content.user.username %></span> -
            时间：<span class="colInfo"><%= content.createDate.toLocaleString() %></span> -
            阅读：<span class="colInfo"><%= content.views %></span> -
            评论：<span class="colInfo"><%= content.comments.length %></span>
        </p>
        <input type="hidden" id="markdownHTML" value="<%= content.content %>"/>
        <div id="contentCon">
                
        </div>
    </div>
</div>

<%- include login.ejs %>

<script>
    $('#contentCon').html($('#markdownHTML').val())
</script>
</body>
</html>
